<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enableMLInference</key>
	<false/>
	<key>enableAdvancedNoiseSuppression</key>
	<false/>
	<key>enableApneaDetection</key>
	<false/>
	<key>debugAudioVisualization</key>
	<false/>
</dict>
</plist>
